/* shopbar */
#link-digitalgoods {
	/* copied from .nav-active */
	background-color: #e7e7e7;
	border-bottom: solid black 2px;
}

h2 {
	font-size: 1.5rem;
}

@media (min-width: 992px) {
	.equal-width-sm {
		flex: 1 1 0px;
	}
}
