{{define "html" -}}
<!DOCTYPE html>
<html lang="{{.BCP47}}">
	<head>
		<meta charset="utf-8">
		<meta name="referrer" content="no-referrer">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/bootstrap.min.css">
		<link rel="stylesheet" href="/static/style.css">
		<link rel="stylesheet" href="/static/fontawesome-free-6.2.1-web/css/fontawesome-selection.css">
		<link rel="stylesheet" href="/static/fontawesome-free-6.2.1-web/css/solid.css">
		<script src="/static/scripts.js"></script>
		{{block "head" .}}{{end}}
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-xl navbar-light py-0" style="background-color: rgb(240,242,244) !important">
				<div class="container-fluid">
					<!-- checkbox -->
					<input type="checkbox" class="toggler" aria-hidden="true" id="open-shopbar">
					<!-- closed -->
					<label for="open-shopbar" class="d-xl-none me-2">
						<div class="navbar-text">{{.Tr "All Services and Projects"}}</div>
					</label>
					<!-- togglers -->
					<div class="d-xl-none">
						<a class="open visually-hidden-focusable" role="button" href="#open-shopbar">Open shops menu</a>
						<a class="close visually-hidden-focusable" role="button" href="#">Close shops menu</a>
					</div>
					<label for="open-shopbar" class="navbar-toggler my-2">
						<div class="open navbar-toggler-icon"></div>
						<div class="close btn-close"></div>
					</label>
					<!-- opened -->
					<div class="collapse navbar-collapse">
						<div class="navbar-nav mx-auto">
							<a class="nav-item nav-link {{if eq .Active "dys2p"}}active{{end}} text-dark text-nowrap p-3" rel="noreferrer" href="{{if .Onion}}http://dys2pwwos5w5kez2chufdk3b3oyj5n4n4iiseyke2tzuqahgvmovloyd.onion{{else}}https://dys2p.com{{end}}/{{.Lang.Prefix}}" id="link-dys2p">
								<i class="fa-solid fa-flask"></i> dys2p
							</a>
							<a class="nav-item nav-link {{if eq .Active "why"}}active{{end}} text-dark text-nowrap p-3" rel="noreferrer" href="{{if .Onion}}http://proxyoxiemywllckvpix543gqcmvvltrnb7inbwtk2knkehqt72tyfyd.onion{{else}}https://proxysto.re{{end}}/{{.Lang.Prefix}}/warum.html" id="link-proxystore-why">
								<i class="fa-solid fa-biohazard"></i> {{.Tr "Why?"}}
							</a>
							<a class="nav-item nav-link {{if eq .Active "proxystore"}}active{{end}} text-dark text-nowrap p-3" rel="noreferrer" href="{{if .Onion}}http://proxyoxiemywllckvpix543gqcmvvltrnb7inbwtk2knkehqt72tyfyd.onion{{else}}https://proxysto.re{{end}}/{{.Lang.Prefix}}" id="link-proxystore">
								<i class="fa-solid fa-store"></i> {{.Tr "Local Store"}}
							</a>
							<a class="nav-item nav-link {{if eq .Active "digitalgoods"}}active{{end}} text-dark text-nowrap p-3" rel="noreferrer" href="{{if .Onion}}http://digitazyyxyihwwzudp5syxxyn3qhcd63wqcha2dxpfqiyydmrgdiaad.onion{{else}}https://digitalgoods.proxysto.re{{end}}/{{.Lang.Prefix}}" id="link-digitalgoods">
								<i class="fa-solid fa-ticket"></i> {{.Tr "Digital Goods"}}
							</a>
							<a class="nav-item nav-link {{if eq .Active "shop"}}active{{end}} text-dark text-nowrap p-3" rel="noreferrer" href="{{if .Onion}}http://shop.proxyoxiemywllckvpix543gqcmvvltrnb7inbwtk2knkehqt72tyfyd.onion{{else}}https://shop.proxysto.re{{end}}/{{.Lang.Prefix}}" id="link-shop">
								<i class="fa-solid fa-cart-shopping"></i> {{.Tr "Online shop"}}
							</a>
							<a class="nav-item nav-link {{if eq .Active "order"}}active{{end}} text-dark text-nowrap p-3" rel="noreferrer" href="{{if .Onion}}http://order.proxyoxiemywllckvpix543gqcmvvltrnb7inbwtk2knkehqt72tyfyd.onion{{else}}https://order.proxysto.re{{end}}" id="link-order">
								<i class="fa-solid fa-tags"></i> {{.Tr "Order Service"}}
							</a>
							<a class="nav-item nav-link {{if eq .Active "druck"}}active{{end}} text-dark text-nowrap p-3" rel="noreferrer" href="{{if .Onion}}http://print5cxveagitd3cbl3pakcjupk5jwgtpwa35uowhtzlmcqbibmsnyd.onion{{else}}https://druck.proxysto.re{{end}}" id="link-druck">
								<i class="fa-solid fa-print"></i> {{.Tr "Online printing"}}
							</a>
						</div>
					</div>
				</div>
			</nav>
		</header>

		{{template "main" .}}

		<footer class="footer bg-body-tertiary">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						{{block "payment" .}}{{end}}
					</div>
					<div class="col-lg-3">
						{{block "delivery" .}}{{end}}
					</div>
					<div class="col-lg-2">
						{{block "legal" .}}{{end}}
					</div>
					<div class="col-lg-2">
						<h4>{{.Tr "Contact & News"}}</h4>
						<ul>
							<li><a rel="noreferrer" href="/{{.Lang.Prefix}}/contact.html"><strong>{{.Tr "Contact us"}}</strong></a></li>
							<li><a rel="noreferrer" href="https://dys2p.com/{{.Lang.Prefix}}/news.html">Blog</a></li>
							<li><a rel="noreferrer" href="https://github.com/dys2p">GitHub</a></li>
							<li><a rel="noreferrer" href="https://chaos.social/@dys2p">Mastodon</a> + <a rel="noreferrer" href="https://chaos.social/@dys2p.rss">RSS</a></li>
						</ul>
					</div>
					<div class="col-lg-2">
						<h4><a rel="noreferrer" href="https://proxysto.re/{{.Lang.Prefix}}">{{.Tr "Local Store"}}</a></h4>
						<p>
							Wolfgang-Heinze-Straße&nbsp;14<br>
							04277&nbsp;Leipzig<br>
							{{.Tr "Germany"}}
						</p>
						<p>
							{{.Tr "Opening hours"}}:<br>
							{{.Tr "Mon+Thu 2pm-6pm"}}<br>
							{{.Tr "Tue+Wed+Fri+Sat 10am-2pm"}}<br>
							<a rel="noreferrer" href="https://proxysto.re/{{.Lang.Prefix}}">{{.Tr "See here for short-term changes"}}</a>
						</p>
					</div>
				</div>
				<div>
					<div class="d-block d-sm-inline-block mb-2 me-sm-2">
						<a rel="noreferrer" href="https://status.proxystore.de/status/main">Status</a>
					</div>
					<div class="d-block d-sm-inline-block mb-2">
						<a rel="noreferrer" href="/{{.Lang.Prefix}}/contact.html">{{.Tr "Got an idea or found an error? Drop us a note!"}}</a>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
{{end}}

{{define "languages"}}
	{{with $.Languages}}
		<div class="btn-group btn-group-sm align-self-center px-2">
			{{range .}}
				<a class="btn btn-outline-secondary {{if .Selected}}active{{end}}" href="/{{.Prefix}}/{{$.Path}}">{{.Name}}</a>
			{{end}}
		</div>
	{{end}}
{{end}}
