/* shopbar */
#link-druck {
	/* copied from .nav-active */
	background-color: #e7e7e7;
	border-bottom: solid black 2px;
}

/* h1 margin */
h1:first-of-type {
	margin-top: 1rem!important; /* .mt-3 */
}

/* filtering */
.list-group-horizontal {
	overflow: auto;
}
.list-group-horizontal .list-group-item {
	white-space: nowrap;
}
