{{define "head"}}
	<link rel="icon" type="image/png" href="/static/favicon-96.png" sizes="96x96">
	<meta name="author" content="ProxyStore">
	<meta name="description" content="Buy goods from our online shops and use our devices in our local store in Leipzig (Germany).">
	<title>ProxyStore</title>
	{{.Hreflangs}}
{{end}}

{{define "main"}}
	<!-- no breakpoint -->
	<nav class="navbar navbar-expand pt-2 pb-0">
		<div class="container">
			<div class="navbar-nav ms-auto py-1">
				{{template "languages" .}}
			</div>
		</div>
	</nav>
	<main class="container">
		{{template "content" .}}
	</main>
{{end}}
