{{define "head"}}
	<!-- TODO icon -->
	<meta name="description" content="strengthening digital self-defense | research and development | providing privacy-focused goods and services">
	<link rel="stylesheet" href="/static/dys2p.css">
	<title>dys2p{{with .Title}}{{if ne . "dys2p"}} › {{.}}{{end}}{{end}}</title>
	{{.Hreflangs}}
{{end}}

{{define "main"}}
	<header>
		<nav class="navbar navbar-expand-sm navbar-light bg-light">
			<div class="container-fluid">
				<input class="toggler" type="checkbox" id="toggle-navbar">
				<label for="toggle-navbar" class="navbar-toggler">
					<div class="navbar-toggler-icon"></div>
				</label>
				<label for="toggle-navbar" class="d-sm-none me-2">
					<div class="navbar-text">dys2p</div>
				</label>
				<div class="collapse navbar-collapse">
					<div class="navbar-nav mx-auto">
						<a class="nav-item nav-link text-dark text-nowrap" href="index.html">dys2p</a>
						<a class="nav-item nav-link text-dark text-nowrap" href="news.html">News</a>
						<a class="nav-item nav-link text-dark text-nowrap" href="konzept.html">{{.Tr "Concept"}}</a>
						<a class="nav-item nav-link text-dark text-nowrap" href="support.html">{{.Tr "Support us"}}</a>
						{{template "languages" .}}
					</div>
				</div>
			</div>
		</nav>
	</header>
	<main class="container pt-4">
		{{template "content" .}}
	</main>
{{end}}
